# Ignore les fichiers de cache et de logs
/var/cache/
/var/log/

# Ignore les fichiers d'environnement sensibles
.env
.env.local
.env.*.local
.env.test
/.env

#Ignore les fichiers vendors
/vendor/

# Ignore les secrets Symfony (clé de chiffrement)
config/secrets/*/local.*
config/secrets/prod/prod.decrypt.private.php

# Ignore les fichiers de Composer
/composer.phar

# Ignore les fichiers de build
/public/build/
/node_modules/

# Ignore les fichiers d'IDE (VSCode, PHPStorm, etc.)
.idea/
.vscode/

# Ignore le fichier de débogage
/phpunit.xml.dist

# Ignore le fichier .DS_Store sur macOS
.DS_Store

# Ignore le fichier de déploiement
/deploy/

# Ignore le fichier de rapport de PHPUnit
.phpunit.result.cache

# Ignore les fichiers générés par Symfony CLI
.symfony/cache/
.symfony/log/

# Ignore les fichiers de coverage PHPUnit
coverage/
